html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  /* type stuff */
  -moz-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -o-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -ms-word-break: break-all;
  word-break: break-all;
  /*Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: system, -apple-system, BlinkMacSystemFont, 'Balto', Balto, Roboto, "Droid Sans", "Segoe UI", Segoe, "Liberation Sans", "Nimbus Sans L", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
}

h1 { font-size: 4.235801032rem; }
h2 { font-size: 2.617924rem; }
h3 { font-size: 1.618rem; }
h4 { font-size: 1rem; }
h5 { font-size: 1rem; }
h6 { font-size: 1rem; }

p {margin:0;}
p + p { margin-top: 1rem; }

img {
  max-width: 100%;
  height: auto;
}

a.highlighted {
  color: inherit;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  transition: all 300ms;
  position: relative;
  display: inline-block;
  transition: all 400ms ease;
}

a.highlighted * {
  transition: all 400ms ease;
}

a.highlighted .text {
  position: relative;
  display: block;
  z-index: 1;
}

a.highlighted .mark {
  display:block;
  position: absolute;
  top: .3em;
  left: 7%;
  height: .9em;
  width: 95%;
  background-color: #fedb00;
  z-index: 0;
  -webkit-transform: skewX(5deg);
  transform: skewX(5deg);
}

a.highlighted.hl2 .mark {
  left: 5%;
  width: 97%;
  -webkit-transform: none;
  transform: none;
}
